<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>729921836338-s42ns3915pjp95tdkjau9j32vl874pp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729921836338-s42ns3915pjp95tdkjau9j32vl874pp5</string>
	<key>API_KEY</key>
	<string>AIzaSyA_-llITgYY5kaCohz59XAp1WpXY7R1gnU</string>
	<key>GCM_SENDER_ID</key>
	<string>729921836338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axenu.micke</string>
	<key>PROJECT_ID</key>
	<string>lustrous-baton-232615</string>
	<key>STORAGE_BUCKET</key>
	<string>lustrous-baton-232615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729921836338:ios:ac578609b529d1c2</string>
	<key>DATABASE_URL</key>
	<string>https://lustrous-baton-232615.firebaseio.com</string>
</dict>
</plist>